<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Confirmar Registro de Usuário no Curso </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    /> </head>
<body>
<div>
    <h3>
        Caso você tenha solicitado acesso ao nosso sistema de Flashcards
    </h3> <br />
    <p>
        Clique no link abaixo para confirmar a sua solicitação <br />
        <span th:text="${confirmationUrl}"> </span>
    </p>
    <p>
        Usuario:
        <span th:text="${user.username}"></span>

    </p>
</div>
</body>
</html>l>