<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Confirmação de mudança de senha</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
  /> </head>
<body>
<div>
  <h3>
    Foi solicitada mudança de senha para acesso ao Flashcards. Clique no link abaixo para
    ser redirecionado para a página de mudança de senha.
  </h3> <br />
  <p>
    Clique no link abaixo para mudar sua senha de acesso <br />
    <span th:text="${confirmationUrl}"> </span>
  </p>
  <p>
    Nome:
    <span th:text="${user.username}"></span>

  </p>
</div>
</body>
</html>